@use "../../../presets" as *;
@use "../../../mixins" as *;

.posts {
  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    @extend %container;
  }

  h2 {
    margin-top: 0;
    letter-spacing: 0.1em;
    color: $color-primary;

    @include lg-min {
      margin-bottom: 3rem;
      font-size: 2.5rem;
    }

    @include lg-md {
      margin-bottom: 2.625rem;
      font-size: 2rem;
    }

    @include md-sm {
      margin-bottom: 2.25rem;
      font-size: 1.5rem;
    }

    @include sm {
      margin-bottom: 2.25rem;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &__content {
    display: grid;
    padding-bottom: 20px;
    gap: 20px;

    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a6 a6";
      grid-template-columns: repeat(4, 1fr);
    }

    @include lg-md {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6";
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
      grid-template-columns: 1fr 1fr;
    }

    @include sm {
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
    }
  }

  &__actions {
    @include sm-min {
      display: flex;
      justify-content: center;
    }
  }
}
